@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --header-height: 52px;
  --footer-height: 52px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", "Noto Sans JP", sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 400px;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.title {
  text-align: center;
  height: var(--header-height);
  font-size: x-large;
  font-weight: bold;
  color: white;
  background-color: hsl(200, 80%, 40%);
  box-sizing: border-box;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  max-width: 580px;
  margin: 0 auto;
  padding: 16px 0;
  box-sizing: border-box;
  min-height: calc(100% - var(--header-height) - var(--footer-height));
}

.clock {
  width: 70%;
  margin: 0 auto;
}

.analog {
  display: grid;
  justify-content: center;
}

.analog>div {
  grid-area: 1/2;
  width: 100%;
}

.digital {
  margin-top: 8px;
}

.date,
.time {
  font-family: "Roboto Mono", monospace;
  font-size: larger;
  font-weight: bold;
  user-select: none;
  text-align: center;
}

.copy {
  text-align: center;
  background-color: hsl(0, 0%, 85%);
  height: var(--footer-height);
  padding: 16px 0;
  box-sizing: border-box;
}
